pandas==2.2.3
numpy==2.1.2
seaborn==0.13.2
matplotlib==3.9.2
scikit-learn==1.5.2
torch-geometric==2.6.1
jupyterlab==4.2.5
jupyter-client==8.6.3
jupyter-core==5.7.2
jupyter-events==0.10.0
jupyter-server==2.14.2
jupyter-server-terminals==0.5.3
jupyterlab-pygments==0.3.0